body{
    position: absolute;
    position: center;
    width:100%;

    margin: 0 auto;
    background-color: #F8F8FF;

  }


  .top{
    width: 100%;
    position:absolute;
    z-index: 0;


  }

  #favicon{
    position: absolute;
    width:50px;
    height:50px;
    z-index: 5;
    margin-left: 45px;
    margin-top: 37px;
  }

  #hexabg{
    position:absolute;
    margin-top: 100px;
    left: 480px;
    z-index: 6;
    height: 500px;
    width: 750px;

  }

  #smartgrocery{
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    margin-left: 100px;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 10px;
  }


  #topics{
    left: 200px;
    margin-top: 190px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
    line-height: 60px;

  }

  #sentences{
    left: 200px;
    position:absolute;
    margin-top: 380px;
    font-size: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }



  #mySearch{
    width:212px;
    height:300px;
    border-radius: 30px;
    border: 0px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    left: 200px;
    margin-top:500px;
    position :absolute;
    width:600px;
    height:60px;
    border-radius: 50px;
    z-index: 7;
  }

  #btn{
    position:absolute;
    left: 730px;
    margin-top:505px;
    z-index: 8;
    width:50px;
    height:50px;
    border-radius: 50%;
  }

#grocery {

  position:absolute;
  background-color: white;
  margin-top: 230px;
  left: 800px;
  z-index: 7;
  height: 190px;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);



  }

  #grocery-photo {
    float: left;
    width: 150px;
    height:145px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 15px;
  }

  #grocery-name {

    position: absolute;
    margin-top: 10px;
    margin-left: 155px;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;

  }

  #species {
    font-size: 0.9rem;
    color: #888;
    vertical-align: middle;
  }












  .greenbackground{

      position:absolute;
      margin-top: 0px;
      width: 100%;
      max-height: 900px;
      z-index: 3;


      background-size: contain;

    }

    .picturebackground{

      filter: brightness(50%);
      position:absolute;
      width: 100%;
      background-size:  auto;
      position:  absolute;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);

    }




#new{


  left: 800px;
  margin-top: 40px;
  position: absolute;
  color: white;
  font-size: 30px;

}

#onion{
  position: absolute;
  margin-top: 820px;
  left:550px;
  width: 400px;
  height:400px;
  z-index:0;
  border-radius: 200px;
}


.howtouse{
  position: absolute;
  margin-top: 1000px;
  height:800px;


}

#text1{
  margin:40px;
  font-family: 'Open Sans', sans-serif;
}

#text2{
  margin:40px;
  font-family: 'Open Sans', sans-serif;
}

#text3{
  margin:50px;
  font-family: 'Open Sans', sans-serif;
}



.rapid{
  left:190px;
  position: absolute;
  width:300px;
  height:400px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
}



.trolley{
  left:520px;
  position: absolute;
  width:300px;
  height:400px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
}

.list{
  left:850px;
  position: absolute;
  width:300px;
  height:400px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  border-radius: 30px;
}

#watch{

  position: static;
  margin-top:70px;
  margin-left: 85px;
  width:120px;
  height:120px;
}

#trolley{
  position: static;
  margin-top:80px;
  margin-left: 85px;
  width:120px;
  height:120px;
}

#list{
  position: static;
  margin-top:70px;
  margin-left: 85px;
  width:120px;
  height:120px;
}





a{
  color: white;
  padding: 5px;
}




#peppermintsticker{
  position: absolute;
  margin-top: 1000px;
  right: 0%;
  width: 500px;
  height:800px;
  z-index:1;

 overflow-x: hidden ;

}


.container{
  position: absolute;
  margin-top: 1800px;
  left:200px;

}



button.a{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/fruit icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 212px 300px;

}

button.b{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/vegetable icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  212px 300px;

}

button.c{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/meat icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  212px 300px;

}

button.d{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/dairy icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  212px 300px;
}

button.e{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/spices icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  212px 300px;

}

button.f{
  margin:50px;
  width:212px;
  height:300px;
  border-radius: 30px;
  border: 0px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-image: url("../mainbackground/icon/seafood icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  212px 300px;
}


ul li{
color: white;
display: inline;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
padding: 10px;
}

.footer {
  position: absolute;
  margin-top: 3000px;
  padding: 1rem;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-color:#663300;
  text-align: center;
  width: 100%;
  height:400px;
  box-sizing: border-box;
}

.f1{
  color:#D2B48C;
  margin-top: 60px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.f2{
  color:#D2B48C;

  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.contactbox{
  position: absolute;
  margin-left: 570px;
  box-sizing: content-box;
  width:200px;
  height:45px;
  border:5px solid #D2B48C ;
  border-radius: 5px;

}

.contacttext{
  position: absolute;
  color:#D2B48C;
  font-size: 20px;
  margin: 10px;
  margin-left: 35px;
  font-family: 'Open Sans', sans-serif;
}

.f3{
  color:#D2B48C;
  margin-top: 100px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.f4{
  color:#D2B48C;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
