body {
  position: center;
  width:100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #F8F8FF;

}

html{
  position: center;
  width:100%;
  margin: 0 auto;
  background-color: #F8F8FF;
}

.center{
  margin:auto;
  position: relative;
}

#favicon{
  position: relative;
  width:50px;
  height:50px;
  z-index: 5;
  margin-left: 45px;
  margin-top: 37px;
}
button{


margin-top: 150px;
margin-left: 70px;

}

#btn{
  width:100px;
  height:40px;
  border-radius: 10px;
  border-width: 0;
  background-color: #D2B48C;
  color: white;
}

#btn:hover{
  width:100px;
  height:40px;
  border-radius: 10px;
  border-width: 0;
  background-color: #663300;
  color: white;
}

.app{
  position: center;
  font-family: sans-serif;
  background-color: #dedede;
  color: #333;
  padding: 60px;
  height:1200px;;
  margin-top: 500px;
}


#bg{
  position: center;
  filter: brightness(50%);
  position:absolute;
  width: 100%;
  height:600px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  z-index: 0;
}

#smartgrocery{
  position: absolute;
  z-index: 5;
  margin-top: 20px;
  margin-left: 8%;

  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}

#new{


  left: 800px;
  margin-top: 40px;
  position: absolute;
  color: white;
  font-size: 30px;


}

#new a{
  color: white;
  padding: 5px;
}

ul li{
color: white;
display: inline;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
padding: 10px;


}



#topics{
  left: 200px;
  margin-top: 200px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 80px;
  line-height: 60px;

}
#sentences{
  left: 200px;
  position:absolute;
  margin-top: 300px;
  font-size: 20px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}


.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}


.grocery {


  float: left;
  border-radius: 35px;
  height: 200px;
  width: 345px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}



.animal h4 {
  margin: 0 0 6px 0;
}

.grocery-photo {
  float: left;
  width: 139px;
  height:130px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 15px;
}

.grocery-name {

  position: absolute;
  margin-top: 15px;
  margin-left: 150px;
  font-size: 2rem;
  font-weight: normal;

}

.species {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}



h1 {
  margin-top: 0;
  font-size: 2.4em;
  font-weight: normal;
  display: inline-block;
}



.footer {
  position: absolute;
  margin-top: 0px;
  padding: 1rem;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
  background-color:#663300;
  text-align: center;
  width: 100%;
  height:400px;
  box-sizing: border-box;
}

.footer .contactbox{
  position: absolute;
  margin-left: 570px;
  box-sizing: content-box;
  width:200px;
  height:45px;
  border:5px solid #D2B48C ;
  border-radius: 5px;

}

.footer .contacttext{
  position: absolute;
  color:#D2B48C;
  font-size: 20px;
  margin: 10px;
  margin-left: 35px;
  font-family: 'Open Sans', sans-serif;
}

.footer .f1{
  color:#D2B48C;
  margin-top: 60px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.footer .f2{
  color:#D2B48C;

  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.footer .f3{
  color:#D2B48C;
  margin-top: 100px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.footer .f4{
  color:#D2B48C;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
